<div class="index-sections">
  <div class="rte">
  
      <h1><strong>Welcome!</strong></h1>
    <p>Welcome to this totally not fake developer store that sells totally not fake things. Nah, they are actually all fake. This is totally a not real store that sells fake things that don't exist. Please don't actually buy things here, thanks!</p>
    <p> This is where the store is located. If you can find it, totally you'll find absolutely NOTHING!</p>
    <p> <img src="https://cdn.shopify.com/s/files/1/0595/6963/5533/files/background_480x480.png?v=1629294034" alt="" /></p>
    <p> </p>
    
    {% section 'slideshow' %}
    
    Here is totally a map for you to help you out.
    
    {% section 'map' %}
    
    And a featured video
    
    {% section 'featured-video' %}
    
    {%section 'featured-banner' %}
  </div>
</div>
