<!-- /templates/page.liquid -->
<h1 class="small--text-center">{{ page.title }}</h1>

<!-- Custom FAQ page template -->
<div class="rte">
  {{ page.content }}
  
  {% section "exclusive-product" %}
</div>


<style>
  h1 {
   font-weight: bold;
   font-size: 20px;
  }  
</style>